src/flows/Synch_Marketing_Work_Request-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Send_notification_to_Marketing_for_new_work_request</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Send notification to Marketing</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Work_Request__c.Send_notification_to_Marketing_for_new_work_request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Subject__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Marketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>isMarketing</label>
        </rules>
    </decisions>
    <description>Synch Marketing Work Request To Asana</description>
    <interviewLabel>Synch_Marketing_Work_Request-1_InterviewLabel</interviewLabel>
    <label>Synch Marketing Work Request</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Work_Request__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_1_A2</name>
        <label>Log Email Acivity</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Account;Account_Product__c;Admin_Page__c;App_Notification__c;Asset;AssetRelationship;Audit_Log__c;BLND_DFAC_Shared_View__c;BLND_DFCS_Carousel__c;BLND_DFCS_Slide__c;BLND_DFDT_Action_Item__c;BLND_DFDT_Discussion__c;BLND_DFDT_Highlight__c;BLND_DFDT_Issue__c;BLND_DFDT_Linker__c;BLND_DFDT_Project__c;BLND_DFDT_Resource__c;BLND_DFDT_Task__c;BLND_DFFF_Form__c;BLND_DFFF_Page__c;BLND_DFFF_Sample_Survey__c;BLND_DFTE_Expense__c;BLND_DFTE_Time__c;BLND_DFTT_Document__c;BLND_DFTT_Entity_Info__c;BLND_DFTT_Folder__c;Blog_Comment__c;Blog_Post__c;CM_Daily_Stats__c;CM_Stats__c;Call_Monitoring__c;Campaign;Case;Cases__c;Centify__Error__c;Centify__Notification__c;ChannelProgram;ChannelProgramLevel;Checkout_Notification_Template__c;Client_History__c;Client_Login__c;Commission_Sheet__c;Commission__c;Company_Name__c;Company__c;Competitor_Website__c;Competitor__c;Contact_Roles__c;Contract;Convertopage_Planner__c;Credit__c;Customer_Care__c;Daily_Stats__c;Default_Manager__c;End_of_Month__c;ITDepartment__c;Invoice_Batch__c;Invoice_Exclude__c;Invoice_Payments__c;Invoice_Reminder_Exclude__c;Invoice_Sent__c;Invoice__c;Lead__c;Login__c;Mcc_login__c;NVMContactWorld__Background_Action__c;NVMContactWorld__CLID_Prefix_Mapping__c;NVMContactWorld__CallEndEvent__c;NVMContactWorld__CaseRoutingRequest__c;NVMContactWorld__ContactWorldAgentInterfaceUri__c;NVMContactWorld__ContactWorld_Settings__c;NVMContactWorld__DispositionCodes__c;NVMContactWorld__Field_Based_CLID_Mapping__c;NVMContactWorld__IncomingCallPoppingSettings__c;NVMContactWorld__InteractionEventNote__c;NVMContactWorld__InteractionEvent__c;NVMContactWorld__NvmNodes__c;NVMContactWorld__NvmRouting__c;NVMContactWorld__Package__c;NVMContactWorld__Settings__c;NVMStatsSF__CDR_NVM__c;NVMStatsSF__NVM_Agent_State_Detail__c;NVMStatsSF__NVM_Agent_Summary__c;NVMStatsSF__NVM_Call_Segment__c;NVMStatsSF__NVM_Call_Summary__c;NVMStatsSF__NVM_Outbound_CDR__c;NVMStatsSF__Transaction__c;Opportunity;PPC_Leads__c;Pardot_Auto_Convert_Add__c;Partial_Signup__c;PartnerFundAllocation;PartnerFundClaim;PartnerFundRequest;PartnerMarketingBudget;PaymentGateway__c;Payment_Attempt__c;Payment__c;Post_Call_Survey__c;Product2;Product_Category__c;Product_Package__c;Project_Cost__c;Promocode__c;Promotion_Product__c;Promotions__c;Questionnaire__c;Quote;Related_Website__c;Report_SEO_Analysis__c;Reseller__c;RunningMode__c;SEO_Report_Schedule__c;SEO_Report__c;SFDC_Assignment__c;SFDC_Expense__c;SFDC_Offer__c;SFDC_Projects__c;SFDC_Resource__c;SFDC_Schedule__c;SFDC_Timecard__c;SFGA__Ad_Group__c;SFGA__Google_Campaign__c;SFGA__Keyword__c;SFGA__Search_Phrase__c;SFGA__Text_Ad__c;SFGA__Version_33_0_3__c;SFSSDupeCatcher__Application_Properties__c;SFSSDupeCatcher__Application_Settings__c;SFSSDupeCatcher__DcIn__c;SFSSDupeCatcher__Duplicate_Warning__c;SFSSDupeCatcher__Override_Cache__c;SFSSDupeCatcher__Potential_Duplicate__c;SFSSDupeCatcher__RequiredFieldSupport__c;SFSSDupeCatcher__Scenario_Rule__c;SFSSDupeCatcher__Scenario__c;SFSSDupeCatcher__Web_To_Lead_Sources__c;SLXOpportunity__c;SLX_Product__c;Sales_Goal__c;Salesforce_Payment__c;Sign_Up_Note__c;Sign_Up__c;Signup_Payments__c;Solution;Spot_Check__c;SurveyQuestionResponse__c;SurveyTaker__c;Survey_Question__c;Survey_Trigger__c;Survey__c;SystemVars__c;Training__c;Transaction__c;Voicemail__c;Web_Content__c;WorkOrder;WorkOrderLineItem;Work_Request__c;Xero_Address__c;Xero_Contact__c;Xero_Invoice__c;Xero_Line_Item__c;Xero_Phone__c;dlrs__DeclarativeLookupRollupSummaries__c;dlrs__LookupChildAReallyReallyReallyBigBigName__c;dlrs__LookupChild__c;dlrs__LookupParent__c;dlrs__LookupRollupCalculateJob__c;dlrs__LookupRollupSummaryLog__c;dlrs__LookupRollupSummaryScheduleItems__c;dlrs__LookupRollupSummary__c;pi__AsyncRequest_Settings__c;pi__AsyncRequest__c;pi__Category_Contact_Score__c;pi__Category_Lead_Score__c;pi__Demo_Settings__c;pi__EngageCampaignRecipient__c;pi__LDFilter__c;pi__ObjectChangeLog__c;pi__PardotTask__c;pi__Pardot_Scoring_Category__c;pi__Partner_Settings__c;pi__Trigger_Settings__c;primest__Company_Countdown__c;primest__CountdownUser__c;primest__Countdown_Holiday__c;primest__countdown_config__c;seoReporting__c;seoThemeKeywords__c;seoWebsiteThemes__c;seoWebsite__c;ss_NonLogin__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>RelatedToId__NotFound</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>New Marketing Workrequest</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>To Address</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>ToAddress</field>
            <value>
                <stringValue>slxmarketing@sponsoredlinx.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>From</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>ValidatedFromAddress</field>
            <value>
                <stringValue>support@sponsoredlinx.com</stringValue>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Work_Request__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Request__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
